[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
metatrader5 = "*"
python-dotenv = "*"
numpy = "<2"
pandas = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
databases = {extras = ["mysql"], version = "*"}
mysql-connector-python = "*"
django = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.12"
